@model NavieraOceanoAzul.Models.Barco

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Barco</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idbarco" class="control-label"></label>
                <input asp-for="Idbarco" class="form-control" />
                <span asp-validation-for="Idbarco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadPersonas" class="control-label"></label>
                <input asp-for="CapacidadPersonas" class="form-control" />
                <span asp-validation-for="CapacidadPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadCarga" class="control-label"></label>
                <input asp-for="CapacidadCarga" class="form-control" />
                <span asp-validation-for="CapacidadCarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreBarco" class="control-label"></label>
                <input asp-for="NombreBarco" class="form-control" />
                <span asp-validation-for="NombreBarco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idtiquete" class="control-label"></label>
                <input asp-for="Idtiquete" class="form-control" />
                <span asp-validation-for="Idtiquete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
