@model NavieraOceanoAzul.Models.Tiquete

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tiquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idtiquete" class="control-label"></label>
                <input asp-for="Idtiquete" class="form-control" />
                <span asp-validation-for="Idtiquete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuertoDestino" class="control-label"></label>
                <input asp-for="PuertoDestino" class="form-control" />
                <span asp-validation-for="PuertoDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuertoOrigen" class="control-label"></label>
                <input asp-for="PuertoOrigen" class="form-control" />
                <span asp-validation-for="PuertoOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcliente" class="control-label"></label>
                <select asp-for="Idcliente" class ="form-control" asp-items="ViewBag.Idcliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaEmision" class="control-label"></label>
                <input asp-for="FechaEmision" class="form-control" />
                <span asp-validation-for="FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idbarco" class="control-label"></label>
                <select asp-for="Idbarco" class ="form-control" asp-items="ViewBag.Idbarco"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaLlegada" class="control-label"></label>
                <input asp-for="FechaLlegada" class="form-control" />
                <span asp-validation-for="FechaLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
